html
    head
    body
        form(id="myForm", method='POST', action='/userListing')
            div
                label(for='username') Username
                input(id='username', name='username')
            div
                label(for='name') Name
                input(id='name', name='name')
            div
                label(for='email') Email
                input(id='email', name='email')
            div
                label(for='age') Age
                input(id='age', name='age', type='number')
            div
                input(type='submit', value='Add User')